svg#keyboard(version='1.1', width='483', height='120' xmlns='http://www.w3.org/2000/svg')
    defs
      style(type='text/css').
        <![CDATA[
        .key {
          stroke: black;
        }
        .white {
          fill: white;
        }
        .black {
          fill: black;
        }
        .selected {
          fill: #FFF691;
        }
        ]]>
    rect#0.white.key(y='0', width='23', height='120', x='0')
    rect#2.white.key(y='0', width='23', height='120', x='23')
    rect#4.white.key(y='0', width='23', height='120', x='46')
    rect#5.white.key(y='0', width='23', height='120', x='69')
    rect#7.white.key(y='0', width='23', height='120', x='92')
    rect#9.white.key(y='0', width='23', height='120', x='115')
    rect#11.white.key(y='0', width='23', height='120', x='138')
    rect#12.white.key(y='0', width='23', height='120', x='161')
    rect#14.white.key(y='0', width='23', height='120', x='184')
    rect#16.white.key(y='0', width='23', height='120', x='207')
    rect#17.white.key(y='0', width='23', height='120', x='230')
    rect#19.white.key(y='0', width='23', height='120', x='253')
    rect#21.white.key(y='0', width='23', height='120', x='276')
    rect#23.white.key(y='0', width='23', height='120', x='299')
    rect#24.white.key(y='0', width='23', height='120', x='322')
    rect#26.white.key(y='0', width='23', height='120', x='345')
    rect#28.white.key(y='0', width='23', height='120', x='368')
    rect#29.white.key(y='0', width='23', height='120', x='391')
    rect#31.white.key(y='0', width='23', height='120', x='414')
    rect#33.white.key(y='0', width='23', height='120', x='437')
    rect#35.white.key(y='0', width='23', height='120', x='460')
    rect#1.black.key(y='0', width='13', height='80', x='16.5')
    rect#3.black.key(y='0', width='13', height='80', x='39.5')
    rect#6.black.key(y='0', width='13', height='80', x='85.5')
    rect#8.black.key(y='0', width='13', height='80', x='108.5')
    rect#10.black.key(y='0', width='13', height='80', x='131.5')
    rect#13.black.key(y='0', width='13', height='80', x='177.5')
    rect#15.black.key(y='0', width='13', height='80', x='200.5')
    rect#18.black.key(y='0', width='13', height='80', x='246.5')
    rect#20.black.key(y='0', width='13', height='80', x='269.5')
    rect#22.black.key(y='0', width='13', height='80', x='292.5')
    rect#25.black.key(y='0', width='13', height='80', x='338.5')
    rect#27.black.key(y='0', width='13', height='80', x='361.5')
    rect#30.black.key(y='0', width='13', height='80', x='407.5')
    rect#32.black.key(y='0', width='13', height='80', x='430.5')
    rect#34.black.key(y='0', width='13', height='80', x='453.5')
